<div class="syntax-recommendation-wrapper">
  <h3 class="title" *ngIf="syntaxRecommendation.title?.length > 0">{{syntaxRecommendation.title}}</h3>
  <div class="syntax-recommendation-inner-group">
    <div class="loe-container">
      <img src="./assets/loe_icons/{{syntaxRecommendation.grade_of_recommendation}}{{syntaxRecommendation.grade_of_evidence}}.svg" />
    </div>
    <div class="syntax-recommendation-right">
      <p class="syntax-recommendation-syntax-content" [innerHTML]="contentHtml"></p>

    </div>
  </div>
</div>