<div class="syntax-recommendation-wrapper">
  <h3 class="title" *ngIf="syntaxRecommendation.title?.length > 0">{{syntaxRecommendation.title}}</h3>
  <div class="syntax-recommendation-inner-group" (click)="this.toggleComment()">
    <div class="loe-container">
      <e1-loe-icon [levelOfEvidence]="this.syntaxRecommendation.gradeOfEvidence" [levelOfRecommendation]="this.syntaxRecommendation.levelOfRecommendation"></e1-loe-icon>
    </div>
    <div class="syntax-recommendation-right">
      <p class="syntax-recommendation-syntax-content" [innerHTML]="contentHtml"></p>
      <p class="syntax-recommendation-comment" *ngIf="this.commentShown && this.syntaxRecommendation.comment?.length > 0" [innerHtml]="syntaxRecommendation.comment"></p>
      
    </div>
    <button class="definition-toggler" *ngIf="this.syntaxRecommendation.comment?.length > 0" [class.toggled]="this.commentShown"></button>
  </div>
</div>