.cookie-notice
{
    position: fixed;
    bottom: 0;
    height: auto;
    box-sizing: border-box;
    
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #ccc;
    color: black;
    z-index: 10;
}

button
{
    width: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2e5f77;
    color: white;
    font-weight: bold;
    outline: 0;
    border: 0;
    border-radius: 0;
    margin-left: 20px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

.wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

@media only screen and (max-width: 1100px) {
    .wrapper
    {
        margin: 0;
        max-width: none;
        width: 90%;
        margin-left: 5%;
        font-size: 11px;
    }
}
