.result-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
}



.loading-animation
{
    background-image: url(/assets/loadingAnimation.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    opacity: 0.7;
}

@media only screen and (max-width: 1100px) {
    .result-wrapper
    {
        width: 90%;
        margin: 0;
        margin-left: 5%;
        max-width: none;
    }

}