.separator-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    height: auto;
    text-align: center;
    position: absolute;
    margin-top: -17px;
    height: 20px;

}

button.show-alternatives
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    height: 50px;
    vertical-align: center;
}

button.show-alternatives:hover
{
    text-decoration: underline;
}

.separator-wrapper .separator-or
{
    display: flex;
    align-items: center;
    flex-flow: row;
    margin-top: 10px;
}

.separator-wrapper .separator-or .line-before
{
    display: block;
    height: 1px;
    background-color: #888;
    flex: 1;
    content: "";
}

.separator-wrapper .separator-or .line-after
{
    display: block;
    height: 1px;
    background-color: #888;
    flex: 1;
    content: "";
}
.separator-wrapper .separator-or .or-text
{
    height: auto;
    width: auto;
    font-size: 12px;
    color: #888;
    padding-left: 20px;
    padding-right: 20px;
}

.separator-and
{
    color: #888;
    font-size: 12px;
}

h3.title
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: block;
    min-width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.group-recommendation-wrapper-title
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    padding-top: 20px;
}

@media only screen and (max-width: 1100px) {
    .group-recommendation-wrapper-title
    {
        width: 90%;
        margin-left: 5%;
        max-width: none;
    }
    .separator-wrapper
    {
        margin-left: 5%;
        width: 90%;
        max-width: none;
    }
    .show-alternatives-wrapper
    {
        text-align: center;
    }
    .show-alternatives-wrapper button.show-alternatives
    {
        margin: 0;
    }
}
