.separator-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    height: auto;
    text-align: center;
    position: absolute;
    margin-top: -17px;
    height: 20px;

}

.separator-wrapper.separator-wrapper-and
{
    margin-top: -8px;
}

button.show-alternatives
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    height: 50px;
    vertical-align: center;
}

button.show-alternatives:hover
{
    text-decoration: underline;
}

.separator-wrapper .separator-or
{
    display: flex;
    align-items: center;
    flex-flow: row;
    margin-top: 10px;
}

.separator-wrapper .separator-or .line-before
{
    display: block;
    height: 1px;
    background-color: #888;
    flex: 1;
    content: "";
}

.separator-wrapper .separator-or .line-after
{
    display: block;
    height: 1px;
    background-color: #888;
    flex: 1;
    content: "";
}
.separator-wrapper .separator-or .or-text
{
    height: auto;
    width: auto;
    font-size: 12px;
    color: #888;
    padding-left: 20px;
    padding-right: 20px;
}

.separator-and
{
    color: #888;
    font-size: 12px;
}

h3.title
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.group-recommendation-wrapper-title
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
}
.group-recommendation-wrapper-title.toggled
{
    padding-bottom: 0px;
}


@media only screen and (max-width: 1100px) {
    .group-recommendation-wrapper-title
    {
        width: 90%;
        margin-left: 5%;
        max-width: none;
    }
    .separator-wrapper
    {
        margin-left: 5%;
        width: 90%;
        max-width: none;
    }
    .show-alternatives-wrapper
    {
        text-align: center;
    }
    .show-alternatives-wrapper button.show-alternatives
    {
        margin: 0;
    }
}


.expand-toggler
{
    background-image: url(/assets/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    outline: 0;
    border : 0;
    opacity: 0.8;
    transition: all 0.3s ease-out;
    cursor: pointer;
    align-self: center;
}


.expand-toggler:hover
{
    opacity: 1;
}

.expand-toggler.toggled
{
    transform: rotateZ(180deg);
}

@keyframes slidein {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.group-expand-wrapper
{
    animation: slidein;
    animation-duration: 0.2s;
}