.header-content
{
    background-color: #4D88A6;
    height: 88px;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo
{
    width: auto;
    background-image: url('/assets/logo.png');
    height: 100%;
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center ;
    cursor: pointer;
}

.header-content e1-search-input
{
    width: 50%;
    height: 50%;
    max-width: 700px;
}

.header-content .spacer
{
    flex: 1;
}

.header-content e1-account-quick-access
{
    margin-right: 20px;
}


/***********

Design for large header

***********/

.header-content.large-header
{
    display: block;
    height: auto;
    position: relative;
    width: 100%;
    background-color: transparent;
}

.header-content.large-header .vertical-spacer
{
    display: block;
    height: 30vh;
}

.header-content.large-header .logo
{
    height: 120px;
    margin: auto;
    display: block;
    position: relative;
    background-image: url('/assets/logo_dark.png');
    margin-bottom: 20px;
    width: 250px;
}


.header-content.large-header e1-search-input
{
    width: 40%;
    height: 44px;
    display: block;
    margin: auto;
    position: relative;
    max-width: 600px;
}

.header-content.large-header e1-account-quick-access
{
    position: absolute;
    top: 20px;
    right: 20px;
}

@media only screen and (max-width: 800px) {
    .header-content.large-header .logo
    {
        width: 40%;
    }
    .header-content.large-header e1-search-input
    {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .header-content.large-header .logo
    {
        width: 60%;
    }
}

@media only screen and (max-width: 300px) {
    .header-content.large-header .logo
    {
        width: 90%;
    }
}


@media only screen and (max-width: 1100px) {
    .header-content.small-header
    {
        display:block;
        height: 160px;
        position: relative;
    }
    .header-content .logo
    {
        height: 80px;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 5%;
    }

    .header-content e1-search-input
    {
        height: 44px;
        position: absolute;
        top: 80px;
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
        max-width: none;
    }

    .header-content e1-account-quick-access
    {
        position: absolute;
        top: 30px;
        right: 5%;
    }
}


@media only screen and (max-height: 800px) {
    .header-content.large-header .vertical-spacer
    {
        height: 20vh;
    }
    .header-content.large-header e1-search-input
    {
        top: 20px;
    }
}

@media only screen and (max-height: 550px) {
    .header-content.large-header .vertical-spacer
    {
        height: 5vh;
    }
    .header-content.large-header e1-search-input
    {
        top: 0px;
    }
}
