@media only screen and (max-width: 1100px) {
    .datenschutz-wrapper
    {
        max-width: none;
        width: 90%;
        margin-left: 5%;
    }
}

.datenschutz-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
}

p a
{
    text-decoration: none;
    color: #4D88A6;
}

p a:hover
{
    text-decoration: underline;
}