<div class="header">
  <div class="wrapper">
    <h1>Über das Projekt</h1>
  </div>
</div>

<div class="wrapper">
  <p>Das Projekt <a href="http://covid.evid.one">covid.evid.one</a> ist eine vollständige non-profit Initiative zur Unterstützung des medizinischen Systems bei der Eindämmung der COVID-19 Pandemie.</p>
  <p>Offizielle Vorgaben, hauptsächlich des Robert Koch Instituts, aber auch anderer medizinischer Institutionen stehen interaktiv aufbereitet, Smartphone-freundlich, kostenlos zur Ansicht bereit. Das Angebot richtet sich hauptsächlich - aber nicht ausschließlich – an medizinische Fachkreise. Ziel ist es, einen kompakten Überblick über die sich dynamisch entwickelnden, praxisrelevanten, aktuellen Hinweise und Empfehlungen externer Institutionen für den Umgang mit COVID-19 zu geben.</p>
  <p>Den Autoren ist wichtig zu betonen, dass es sich um eine kostenlose Initiative ohne jegliche Gewinnabsicht handelt. Hierbei wird großer Wert darauf gelegt, möglichst aktuelle Informationen für den Praxiseinsatz weiterzugeben – ohne Anspruch auf Vollständigkeit. Die Quelle aller Inhalte ist jeweils verlinkt. Bitte informieren Sie sich zusätzlich auch bei den Urhebern der Inhalte selbst.</p>
  <p>Bei Hinweisen, Feedback und Anregungen können Sie uns unter der Mail-Adresse <a href="mailto:info@evid.one">info@evid.one</a> erreichen.</p>
  <div class="button-wrapper">
    <a href="/overview"><button>Jetzt verwenden</button></a>
  </div>
</div>