

button
{
    width: 40%;
    margin: auto;
    height: 44px;
    margin-left: 30%;
    margin-top: 20px;
    outline: 0;
    border: 0;
    background: #1b74a0; /* Old browsers */
    border-bottom: 2px solid #1A4D6B;
    color: white;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

button:hover
{
    background-color: #1D7FAD;
}

button:active
{
    border-bottom: 0;
}

.header
{
    background-color: #284D60;
    width: 100%;
    padding-bottom: 15px;
}

.header h1
{
    color: white;
    font-weight: 600;
}

.wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    padding-top: 20px;
    position: relative;
}

img
{
    max-width: 150px;
    position: absolute;
    right: 0;
    top: 35px;
}

p a
{
    color: #444;
    text-decoration: none;
    font-weight: 600;
}

p a:hover
{
    text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
    .wrapper
    {
        margin: 0;
        max-width: none;
        width: 90%;
        margin-left: 5%;
        font-size: 11px;
        padding-bottom: 60px;
    }
    img
    {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
    }
    p
    {
        font-size: 14px;
    }
}
