.guideline-header
{
    background-color: white;
    animation-duration: 0.5s;
    -webkit-box-shadow:inset 0 3px 6px 0 rgba(0,0,0,0.15);
    box-shadow:inset 0 3px 6px 0 rgba(0,0,0,0.15);
    position: relative;
    padding-bottom: 200px;
}


.loading-animation
{
    background-image: url(/assets/loadingAnimation.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    opacity: 0.7;
}



.back-button
{
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    padding: 0;
    animation-duration: 0.5s;
    animation-name: slideInBackButton;
    animation-timing-function: ease-in-out;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.back-button:hover
{
    opacity: 1;
    border-bottom: 1px solid white;
}

.guideline-inner-wrapper,
.loading-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 850px;
}

ul
{
    margin-top: 40px;
}

.button-area
{
    display: flex;
}

button.cancel
{
    margin-right: 20px;
}

button.save,
button.update_preview
{
    margin-left: 20px;
}

button.save,
button.cancel,
button.update_preview,
button.delete
{
    padding: 20px;
    font-size: 16px;
    background: transparent;
    border: 0;
    /* border: 1px solid #eee; */
    border-bottom: 3px solid #2e5f77;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #4D88A6;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    cursor: pointer;
}

button.save:hover,
button.cancel:hover,
button.update_preview:hover
{
    background-color: #1c6c96;
}

button.delete
{
    background-color: #ff5252;
    border-color: #b33939;
}

button.delete:hover
{
    background-color: #ff6666
}