.reference-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    padding-top: 0;
    padding-bottom: 20px;
    text-align: right;
}

.reference-wrapper a
{
    font-size: 10px;
    color: #333;
    font-weight: normal;
    text-decoration: none;
}

.reference-wrapper a:hover
{
    text-decoration: underline;
    color: #111;
}

@media only screen and (max-width: 1100px) {
    .reference-wrapper
    {
        width: 90%;
        margin-left: 5%;
        max-width: none;
    }
}
