input
{
    width: 100%;
    height: 100%;
    background-color: white;
    outline: 0;
    border: 0;
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 3px 3px 0 rgba(0,0,0,0.1);
    box-shadow: 1px 3px 3px 0 rgba(0,0,0,0.1);
    border: 1px solid #D1D1D1;
}