.user-inner-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 850px;
}

.button-area
{
    display: flex;
}

button.cancel
{
    margin-right: 20px;
}

button.save
{
    margin-left: 20px;
}

.loading-animation
{
    background-image: url(/assets/loadingAnimation.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    opacity: 0.7;
}

button.save,
button.cancel
{
    padding: 20px;
    font-size: 16px;
    background: transparent;
    border: 0;
    /* border: 1px solid #eee; */
    border-bottom: 3px solid #2e5f77;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #4D88A6;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    cursor: pointer;
}

button.save:hover,
button.cancel:hover
{
    background-color: #1c6c96;
}