.account-quick-access-wrapper.large-header a
{
    color: #272727;
}

.account-quick-access-wrapper.large-header a:hover
{
    color: #000;
}

a.register
{
    margin-right: 20px;
}

.account-quick-access-wrapper a
{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 12px;
}

.account-quick-access-wrapper a:hover
{
    color: rgba(255, 255, 255, 1);
}