.account-quick-access-wrapper.large-header a
{
    color: #272727;
}

.account-quick-access-wrapper.large-header a:hover
{
    color: #000;
}

a.register
{
    margin-right: 20px;
}

.account-quick-access-wrapper a
{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 12px;
}

.account-quick-access-wrapper a:hover
{
    color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 400px) {
    .account-quick-access-wrapper a,
    .account-quick-access-wrapper a.register
    {
        margin: 0;
        display: block;
        text-align: right;
    }

    .account-quick-access-wrapper a.login
    {
        margin-top: 5px;
    }
}