<div class="level-list-wrapper form-style-7">
  <label>Levels:</label>
  <button class="add_level" (click)="addNewEmptyLevel()">+</button>
  <ul droppable (onDrop)="onItemDrop($event)" [dropScope]="'level'">
    <li *ngFor="let level of this.levels; index as i" draggable [dragData]="level" [dragScope]="'level'" [dragHandle]="'.drag-handle'">
      <div class="level-header" (click)="toggleLevelWithIndex(i)">
        <button class="drag-handle"></button>
        <span class="title">{{level.levelName}}</span>
        <button class="move-up" (click)="moveUp(i);$event.stopPropagation()"></button>
        <button class="move-down" (click)="moveDown(i);$event.stopPropagation()"></button>
        <button class="remove" (click)="this.removeLevelWithIndex(i)"></button>
      </div>
      <e1-edit-level [level]="level" *ngIf="this.expanded.includes(i)"></e1-edit-level>
    </li>
  </ul>
  <p class="no_levels" *ngIf="this.levels && this.levels?.length <= 0">Keine Levels definiert</p>
</div>