<div class="level-wrapper form-style">
  <span class="id">{{level.levelId}}</span>

  <label for="name">Level-Name:</label>
  <input type="text" [(ngModel)]="level.levelName" name="levelName">

  <label for="levelId">Level-Id:</label>
  <input type="text" [(ngModel)]="level.levelId" name="levelId" style="font-family: monospace;">

  <label for="name">Definition:</label>
  <angular-editor [(ngModel)]="level.definition"></angular-editor>

  <hr>

  <label for="diagram">Diagramm anzeigen</label>
  <input type="checkbox" name="active" [(ngModel)]="this.level.showDiagram" (ngModelChange)="onShowDiagramChange()">
  <e1-diagram-editor *ngIf="this.level.showDiagram" [(ngModel)]="this.level.diagramContent"></e1-diagram-editor>

  <hr>

  <e1-edit-level-list [levels]="this.level.levels"></e1-edit-level-list>
  
  <label for="selectionTitle">Level-Auswahl-Titel:</label>
  <input type="text" [(ngModel)]="level.selectionTitle" name="selectionTitle">

  <label for="sublevelDisplayType">Sublevel-Darstellung:</label>
  <select [(ngModel)]="this.level.sublevelDisplayType">
    <option [ngValue]="'vertical'"> Vertikale Liste </option>
    <option [ngValue]="'horizontal'"> Horizontale Kacheln </option>
  </select>

  <hr>

  <label for="selectionTitle"><b>Unsichtbare Levels:</b></label>
  <e1-edit-level-list [levels]="this.level.invisibleLevels"></e1-edit-level-list>
  
  <hr>
  
  <e1-edit-recommendation-list [recommendations]="this.level.recommendations"></e1-edit-recommendation-list>

  <label for="name">Logische Verknüpfung:</label>
  <select [(ngModel)]="this.level.andOr">
    <option [ngValue]="'and'"> UND </option>
    <option [ngValue]="'or'"> ODER </option>
    <option [ngValue]="''"> - nichts anzeigen - </option>
  </select>
</div>