<div data-v-48b6feb0="" class="impressum-wrapper">
    <p><a href="/">&#8617; Zurück zur Leitlinie</a></p>
    <h1 data-v-48b6feb0="">Impressum</h1>
    <p data-v-48b6feb0=""><b data-v-48b6feb0="">Angaben gemäß § 5 TMG:</b></p>
    <p data-v-48b6feb0="">Solve Studios UG (haftungsbeschränkt)<br data-v-48b6feb0="">
        MAFINEX Technologiezentrum<br data-v-48b6feb0="">
        Julius-Hatry-Straße 1<br data-v-48b6feb0="">
        D-68163 Mannheim</p>
    <p data-v-48b6feb0=""><a data-v-48b6feb0="" href="https://solve-studios.de/">solve-studios.de</a></p>
    <p data-v-48b6feb0=""><b data-v-48b6feb0="">Vertreten durch:</b></p>
    <p data-v-48b6feb0="">Geschäftsführer: Henry Müssemann</p>
    <p data-v-48b6feb0=""><b data-v-48b6feb0="">Kontakt:</b></p>
    <p data-v-48b6feb0="">Tel: +49 (0) 15789723767<br data-v-48b6feb0="">
        E-Mail: info@solve-studios.de</p>
    <p data-v-48b6feb0=""><b data-v-48b6feb0="">Registereintrag:</b></p>
    <p data-v-48b6feb0="">Eintragung im Handelsregister.
        Registergericht: Amtsgericht Mannheim
        Registernummer: HRB 723019</p>
    <p data-v-48b6feb0=""><b data-v-48b6feb0="">Steuernummer:</b></p>
    <p data-v-48b6feb0="">38186 / 21725</p>
    <p data-v-48b6feb0=""><b data-v-48b6feb0="">Haftpflichtversicherer:</b></p>
    <p data-v-48b6feb0="">HISCOX</p>
    <p data-v-48b6feb0=""><b data-v-48b6feb0="">Aufsichtsbehörde:</b></p>
    <p data-v-48b6feb0="">Landratsamt Mannheim</p>
</div>