<div class="guideline-header">
  <div class="guideline-inner-wrapper">
    <button class="back-button" (click)="onBackButtonClicked()">&larr; &nbsp; &nbsp; Zurück</button>
    <div class="guideline-description">
      <span class="date">Gültig bis {{guideline.valid_until | date:'dd. MMMM yyyy'}}</span>
      <span class="publisher">{{guideline.publisher}}</span>
      <div class="visibility" [class.public]="allPublic" [class.private]="!allPublic">Öffentlich</div>
      <h3>{{guideline.name_of_guideline}}</h3>
    </div>
  </div>
</div>

<e1-level *ngIf="levelSelectionInput !== null" [level]="levelSelectionInput" [isDark]="false"></e1-level>