.guideline-header
{
    background-color: #284D60;
    animation-duration: 0.5s;
    animation-name: fadeInBGColorGuidelineHeader;
    animation-timing-function: ease-in-out;
    -webkit-box-shadow:inset 0 3px 6px 0 rgba(0,0,0,0.15);
    box-shadow:inset 0 3px 6px 0 rgba(0,0,0,0.15);
    position: relative;
}

/* .guideline-header::after {
	top: 100%;
	left: 610px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(40, 77, 96, 0);
	border-top-color: #284D60;
	border-width: 30px;
    margin-left: -30px;
    animation-duration: 0.5s;
    animation-name: opacityOnlyAnimation;
    animation-timing-function: ease-in-out;
} */


@keyframes fadeInBGColorGuidelineHeader {
    from {
        background-color: white;
    }
    
    to {
        background-color: #284D60;
    }
}

.back-button
{
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    padding: 0;
    animation-duration: 0.5s;
    animation-name: slideInBackButton;
    animation-timing-function: ease-in-out;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.back-button:hover
{
    opacity: 1;
    border-bottom: 1px solid white;
}

.guideline-inner-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
}

.guideline-description
{
    display: grid;
    width: 100%;
    display: block;
    color: white;
    padding-bottom: 30px;
    transition: all 0.2s ease-in-out;
    margin-top: 20px;
    font-size: 14px;
    animation-duration: 0.5s;
    animation-name: slideinGuidelineInfo;
    animation-timing-function: ease-in-out;
}

.date
{
    display: inline;
}

.publisher
{
    margin-left: 20px;
    display: inline;
}

.visibility
{
    border: 1px solid white;
    margin-left: 20px;
    font-size: 11px;
    padding: 3px;
    text-transform: uppercase;
    display: inline-block;
}

.guideline-description h3
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: block;
    min-width: 100%;
    font-weight: 600;
    font-size: 16px;
}

@keyframes opacityOnlyAnimation {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes slideInBackButton {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    
    to {
        transform: translateY(0px);
        opacity: 0.6;
    }
}

@keyframes slideinGuidelineInfo {
    from {
        transform: translateY(-37px);
        opacity: 1;
    }
    
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.guideline-header
{
    cursor: pointer;
}

.guideline-header:hover h3
{
    text-decoration: underline;
    text-decoration-color: white;
}