<div class="guideline-header">
  <div class="guideline-inner-wrapper">
    <button class="back-button" (click)="onBackButtonClicked()">&larr; &nbsp; &nbsp; Zurück</button>
    <div class="guideline-description">
      <span class="date">01.01.1999</span>
      <span class="publisher">AWMF</span>
      <div class="visibility" [class.public]="allPublic" [class.private]="!allPublic">Öffentlich</div>
      <h3>Behandlung von erwachsenen Patienten mit ambulant erworbener Pneumonie und Prävention – Update 2016</h3>
    </div>
  </div>
</div>