.loading-animation
{
    background-image: url(/assets/loadingAnimation.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    opacity: 0.7;
}


button.add_access_unit
{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: block;
    background-color: #666;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    outline: 0;
    border: 0;
    opacity: 0.8;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 10px;
}

button.add_access_unit:hover
{
    opacity: 1;
}

ul
{
    padding: 0;
    list-style: none;
}

li
{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    padding-top: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    list-style: none;
    color: #666;
}

li:hover
{
    color: #222;
}