.guideline-header
{
    background-color: white;
    animation-duration: 0.5s;
    -webkit-box-shadow:inset 0 3px 6px 0 rgba(0,0,0,0.15);
    box-shadow:inset 0 3px 6px 0 rgba(0,0,0,0.15);
    position: relative;
}


.loading-animation
{
    background-image: url(/assets/loadingAnimation.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    opacity: 0.7;
}



.back-button
{
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    padding: 0;
    animation-duration: 0.5s;
    animation-name: slideInBackButton;
    animation-timing-function: ease-in-out;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.back-button:hover
{
    opacity: 1;
    border-bottom: 1px solid white;
}

.guideline-inner-wrapper,
.loading-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
}

ul
{
    margin-top: 40px;
}

.button-area
{
    display: flex;
}

button.cancel
{
    margin-right: 20px;
}

button.save
{
    margin-left: 20px;
}

button.save,
button.cancel
{
    padding: 20px;
    font-size: 16px;
    background: transparent;
    border: 0;
    /* border: 1px solid #eee; */
    border-bottom: 3px solid #2e5f77;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #4D88A6;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    cursor: pointer;
}

button.save:hover,
button.cancel:hover
{
    background-color: #1c6c96;
}



/* FORM STYLES */

.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	margin: 9px;
	margin-bottom: 10px;
	border-radius: 3px;
	margin-right: 0;
}

.form-style-7 label{
	display: block;
	margin-bottom: 5px;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #666;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 40px;
	line-height: 25px;
	font-size: 16px;
    padding: 0;
    background-color: transparent;
    border: 1px solid #666;
    border-radius: 3px;
    padding-left: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    color: black;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #6B9FFF;
	color:#fff;
}