.level-wrapper
{
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
}

hr
{
    margin-top: 20px;
    margin-bottom: 20px;
}

span.id
{
    color: #aaa;
    font-weight: bold;
    font-size: 14px;
    float: right;
    font-family: monospace;
    user-select: text;
}