.medication-recommendation-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.medication-recommendation-wrapper h3.title
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: block;
    min-width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.medication-recommendation-inner-group
{
    display: flex;
    align-items: center;
}

.medication-recommendation-inner-group .loe-container
{
    width: 40px;
    height: 40px;
}

.medication-recommendation-inner-group .medication-recommendation-right
{
    flex: 1;
    height: 100%;
    /*min-height: 80px;*/
    display: block;
    padding-left: 20px;
}

.medication-recommendation-inner-group .medication-recommendation-right h4
{
    /*background-color: #4D88A6;*/
    border: 1px solid #bbb;
    cursor: pointer;
    color: white;
    padding: 10;
    display: inline-bock;
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 0px;
    font-weight: 400;
    width: auto;
    color: black;
    border-radius: 3px;
    color: #333;
}

table{
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

table tr td
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.medication-recommendation-simple-dosage-schema,
.medication-recommendation-specific-text
{
    font-size: 14px;
    margin-left: 15px;
    display: inline-block;
}
span.distribution-text
{
    display: inline-block;
    margin-left: 20px;
}

.medication-recommendation-specific-dosage-schema,
.medication-distribution
{
    display: inline-block;
    font-size: 14px;
}

.medication-distribution span
{
    margin-left: 10px;
    display: inline-block;
}