<div class="medication-recommendation-wrapper">
  <h3 class="title" *ngIf="medicationRecommendation.title?.length > 0">{{medicationRecommendation.title}}</h3>
  <div class="medication-recommendation-inner-group" (click)="this.toggleComment()">
    <div class="loe-container">
      <img src="./assets/loe_icons/{{medicationRecommendation.grade_of_recommendation}}{{medicationRecommendation.grade_of_evidence}}.svg" />
    </div>
    <div class="medication-recommendation-right">
      <h4 class="medication-recommendation-medication-title">{{medicationRecommendation.name}}</h4>
      <div class="medication-recommendation-specific-dosage-schema" *ngIf="medicationRecommendation.use_specific_dosage_schema && medicationRecommendation.dosage_amount > 0">
        <div class="medication-distribution">
            <span>{{medicationRecommendation.dosage_amount}}{{medicationRecommendation.dosage_unit}}</span>
            <span></span>
            <span>{{medicationRecommendation.morning_dosage}}</span>
            <span>-</span>
            <span>{{medicationRecommendation.noon_dosage}}</span>
            <span>-</span>            
            <span>{{medicationRecommendation.evening_dosage}}</span>
            <span>-</span>            
            <span>{{medicationRecommendation.night_dosage}}</span>
        </div>

        <span class="medication-recommendation-specific-text">{{this.descriptionText}}</span>
      </div>
      <div class="medication-recommendation-simple-dosage-schema" *ngIf="!medicationRecommendation.use_specific_dosage_schema">
        {{this.descriptionText}}
      </div>
      <p class="medication-recommendation-comment" *ngIf="this.commentShown" [innerHtml]="medicationRecommendation.comment"></p>
    </div>
    <button class="definition-toggler" *ngIf="this.medicationRecommendation.comment?.length > 0" [class.toggled]="this.commentShown"></button>
  </div>
</div>