<div class="ft-recommendation-wrapper">
  <h3 class="title" *ngIf="freeTextRecommendation.title?.length > 0">{{freeTextRecommendation.title}}</h3>
  <div class="ft-recommendation-inner-group" (click)="this.toggleComment()">
    <div class="loe-container">
      <e1-loe-icon [levelOfEvidence]="this.freeTextRecommendation.gradeOfEvidence" [levelOfRecommendation]="this.freeTextRecommendation.levelOfRecommendation"></e1-loe-icon>
    </div>
    <div class="ft-recommendation-right">
      <p class="ft-recommendation-ft-content">{{freeTextRecommendation.content}}</p>
      <p class="ft-recommendation-ft-comment" *ngIf="this.commentShown && this.freeTextRecommendation.comment?.length > 0" [innerHtml]="freeTextRecommendation.comment"></p>
    </div>
    <button class="definition-toggler" *ngIf="this.freeTextRecommendation.comment?.length > 0" [class.toggled]="this.commentShown"></button>
  </div>
</div>