.ft-recommendation-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ft-recommendation-wrapper h3.title
{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    display: block;
    min-width: 100%;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.ft-recommendation-inner-group
{
    display: flex;
    align-items: center;
}

.ft-recommendation-inner-group .loe-container
{
    width: 40px;
    height: 40px;
}

.ft-recommendation-inner-group .ft-recommendation-right
{
    flex: 1;
    height: 100%;
    /*min-height: 80px*/;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding-left: 20px;
}


.ft-recommendation-ft-comment
{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 20px;
    border-left: 1px solid #ccc;
    animation: slidein;
    animation-duration: 0.2s;
}

@keyframes slidein {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.definition-toggler
{
    background-image: url(/assets/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    outline: 0;
    border : 0;
    opacity: 0.8;
    transition: all 0.3s ease-out;
    cursor: pointer;
    align-self: flex-start;
}


.definition-toggler:hover
{
    opacity: 1;
}

.definition-toggler.toggled
{
    transform: rotateZ(180deg);
}

@media only screen and (max-width: 1100px) {
    .ft-recommendation-wrapper
    {
        width: 90%;
        margin-left: 5%;
        max-width: none;
    }
}
