
<e1-group-recommendation [parentGuideline]="this.parentGuideline" [isRoot]="true" (arrowColorChanged)="this.arrowColorChanged($event)" [groupRecommendation]="this.level" [subLevelSelected]="this.subLevelSelected"></e1-group-recommendation>


<div class="level-container" [class.selected]="this.subLevelSelected" [class.is-dark]="this.isDark" [class.grey-arrow]="this.arrowColor == 'grey'" [class.white-arrow]="this.arrowColor == 'white'" (click)="this.selectedUl()">
  <div class="responsive-wrapper">
    <e1-diagram-editor [readOnly]="true" *ngIf="this.level.showDiagram && selectedSubLevel === null" (levelSelected)="diagramLevelSelected($event)" [(ngModel)]="this.level.diagramContent"></e1-diagram-editor>

    <h3 *ngIf="level.selectionTitle?.length > 0">{{level.selectionTitle}}</h3>
    
    <ul class="selection-box" [class.horizontal]="level.sublevelDisplayType === 'horizontal'" *ngIf="level !== null">
      <li *ngFor="let cLevel of level['levels']; let i = index" [class.definition-visible]="this.definitionVisible == i" [class.selected-item]="this.selectedSubLevelID == i" (click)="this.levelSelected($event, i)">
        <span class="title" *ngIf="this.definitionVisible != i">
            {{cLevel.levelName}}
        </span>
        <button (click)="this.definitionClicked($event, i)" *ngIf="this.definitionVisible != i && cLevel.definition !== undefined && cLevel.definition.length > 0 && !this.subLevelSelected">Definition</button>
        <span [innerHtml]="cLevel.definition" class="definition" *ngIf="this.definitionVisible == i && cLevel.definition !== undefined && cLevel.definition.length > 0" (click)="this.closeDefinition($event)">
          
        </span>
      </li>
      <div class="hidden-levels" *ngIf="this.selectedSubLevelID > -1">
        <li *ngFor="let cLevel of level['invisibleLevels']; let i = index" [class.selected-item]="this.selectedSubLevelID == i - level['levels'].length">
          <span class="title" *ngIf="this.definitionVisible != i">
              {{cLevel.levelName}}
          </span>
          <button (click)="this.definitionClicked($event, i)" *ngIf="this.definitionVisible != i && cLevel.definition !== undefined && cLevel.definition.length > 0 && !this.subLevelSelected">Definition</button>
          <span [innerHtml]="cLevel.definition" class="definition" *ngIf="this.definitionVisible == i && cLevel.definition !== undefined && cLevel.definition.length > 0" (click)="this.closeDefinition($event)">
            
          </span>
        </li>
      </div>
    </ul>
  </div>
</div>

<e1-level #nextlevel *ngIf="selectedSubLevel !== null" [level]="selectedSubLevel" [isDark]="!this.isDark" [parentGuideline]="parentGuideline"></e1-level>
