div.responsive-wrapper
{
    margin-left: 260px;
    width: 50%;
    max-width: 700px;
    margin-top: 20px;
}

ul.selection-box
{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}

ul.selection-box li
{
    border-bottom: 1px solid #999;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    opacity: 0.9;
    color: #323232;
    cursor: pointer;
    height: auto;
}


ul.selection-box li:hover .title
{
    opacity: 1;
    padding-left: 30px;
}

ul.selection-box.horizontal li .title
{
    padding-left: 0;
    text-align: center;
}

ul.selection-box.horizontal li:hover .title
{
    opacity: 1;
    padding-left: 0px;
    transform: translateY(-10px);
}

.level-container.selected ul.selection-box.horizontal li:hover .title
{
    transform: none;
}

ul.selection-box li .title
{
    flex: 1;
    box-sizing: border-box;
    padding-left: 20px;
    transition: all 0.2s ease-out;
    min-height: 66px;
    padding-top: 25px;
    padding-bottom: 25px;
}

button
{
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 12px;
    color: #474747;
    height: 66px;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
    cursor: pointer;
}

button:hover
{
    color: #000000;
}

ul.selection-box li.definition-visible
{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #284D60;
    color: white;
}

ul.selection-box li .definition
{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

div.level-container.selected
{
    background-color: #4D88A6;
    padding-bottom: 40px;
}

div.level-container.selected ul li
{
    display: none;
}

div.level-container.selected ul li.selected-item,
div.level-container.selected ul.horizontal li.selected-item
{
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0;
    height: auto;
    padding: 0;
    border-radius: 0;
    margin-top: 0;
}

div.level-container
{
    transition: all 0.4s ease-out;
    padding-bottom: 100px;
    
}

div.level-container.selected .responsive-wrapper
{
    margin-top: 0;
    background-position: top left;
    background-size: 8%;
    background-repeat: no-repeat;
    background-image: url('/assets/level_down_arrow_dark_blue.svg');
    display: flex;
    justify-content: center;
    flex-flow: column;
}

div.level-container.selected ul li.selected-item .title
{
    padding: 0;
    text-align: left;
    padding-top: 50px;
    transition: none;
}

div.level-container.selected ul li.selected-item .title:hover
{
    padding-left: 0;
}

div.level-container.selected.is-dark
{
    background-color: #284D60;

}

div.level-container.selected.is-dark .responsive-wrapper
{
    background-image: url('/assets/level_down_arrow_light_blue.svg');
}

div.level-container.selected.white-arrow .responsive-wrapper
{
    background-image: url('/assets/level_down_arrow_white.svg');
}

div.level-container.selected.white-arrow .responsive-wrapper
{
    background-image: url('/assets/level_down_arrow_grey.svg');
}

.level-container.selected:hover .title
{
    text-decoration: underline;
}

.level-container.selected
{
    cursor: pointer;
}

h3
{
    margin-top: 40px;
    text-align: center;
}

.level-container.selected h3
{
    margin-top: 0;
    text-align: left;
    padding-top: 0px;
    margin-bottom: 0;
    color: white;
}
div.level-container.selected
{
    padding-bottom: 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 110px;
}
div.level-container ul
{
    margin-top: 0;
}
div.level-container.selected .responsive-wrapper
{
    min-height: 110px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
div.level-container.selected ul li.selected-item .title
{
    padding-top: 10px;
    height: auto;
    min-height: auto;
}

ul.selection-box.horizontal li {
    width: 150px;
    min-width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 20px;
}

ul.selection-box.horizontal
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

ul.selection-box.horizontal li:first-child {
    margin-left: 0;
}

@media only screen and (max-width: 1100px) {
    div.responsive-wrapper
    {
        max-width: none;
        margin-left: 5%;
        width: 90%;
    }
    ul.selection-box li .title
    {
        padding-left: 0;
    }

    div.level-container.selected ul
    {
        background-position: center top;
    }
    div.level-container.selected ul li.selected-item .title
    {
        text-align: center;
    }
    .level-container.selected:hover .title
    {
        text-decoration: none;
    }
}