/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
body
{
    margin: 0;
    padding: 0;
}


*
{
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 400px) {
    p
    {
        padding-bottom: 20px;
    }
}

h1
{
    font-weight: bold;
    font-size: 30px;
    color: #666666;
}


.form-style label
{
	margin-left: 10px;
	font-size: 16px;
	color: #666;
	margin-bottom: 5px;
	display: block;
	margin-top: 10px;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="number"],
.form-style select
{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.form-style input[type="number"]
{
	text-align: center;
}

.form-style input[type="checkbox"] {
    text-align: left;
    width: auto;
    width: 20px;
    margin-left: 5px;
}


ul.horizontal-tabs
{
    display: block;
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    margin-bottom: 40px;
}

ul.horizontal-tabs li a
{
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid transparent;
    opacity: 0.5;
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    list-style: none;
}

ul.horizontal-tabs li a:hover
{
    border-bottom: 2px solid #4D88A6;
}

ul.horizontal-tabs li a.active
{
    border-bottom: 2px solid #4D88A6;
    opacity: 1;
}