.lor {
    position: absolute;
    width: 100%;
    text-align: right;
    font-weight: bold;
    color: #474747;
    opacity: 0.8;
    font-size: 30px;
    top: 10px;
}

.loe {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #333333aa;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: .9;
    color: white;
}

.wrapper
{
    position: relative;
}

.loe_system
{
    position: absolute;
    top: 50PX;
    font-size: 12px;
    text-align: center;
}