<ul>
  <div *ngFor="let guideline of guidelines; let i = index">
    <a (click)="guidelineWasSelected(guideline)">
      <li>
        <div class="result-header">
          <span class="date">Zuletzt aktualisiert am {{guideline.validity | date:'dd.MM.yyyy'}}</span>
          <span class="publisher">{{guideline.publisher}}</span>
          <div class="visibility" [class.public]="allPublic" [class.private]="!allPublic">{{isPublicText(guideline)}}</div>
        </div>
        <h3>{{guideline.nameOfGuideline}}</h3>
      </li>
    </a>
  </div>
</ul>